* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

.header-top {
  background-color: #2f3967;
  height: 40px;
  line-height: 50px;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 41% 100%, 28% 4%, 0 4%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 100%, 41% 100%, 28% 4%, 0 4%, 0 0);
}

.header-top .height {
  height: 100%;
}

.header-top .header-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .header-top-content p {
  margin-left: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header-top i {
  color: white;
  margin-right: 5px;
  display: inline-block;
}

.header-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 85px;
  margin: 0;
}

.header-top ul li {
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header-top ul li:hover a i {
  color: #ee3131;
}

.row.middle {
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-wrapper {
  height: 50px;
  width: 200px;
}

.brand img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-holder ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-holder ul p {
  margin-bottom: 0;
}

.contact-holder ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-holder ul li span {
  margin-right: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-holder ul li span i {
  font-size: 1.5em;
  color: red;
  -webkit-transform: rotate(-29deg);
          transform: rotate(-29deg);
}

.contact-holder ul li span.letter i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.contact-holder ul .contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clip {
  background-color: #ee3131;
}

.clip .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.clip .cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.clip .cart a {
  font-size: 25px;
  color: white;
}

.clip .cart span {
  font-size: 10px;
  background-color: white;
  position: relative;
  right: 10px;
  border-radius: 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0px 4px;
}

.clip .dropdown .menu {
  position: absolute !important;
  top: 37px;
  width: 200px;
  left: -53px;
  z-index: 9000;
  background-color: white;
}

.clip .dropdown .menu ul {
  width: 100%;
  height: 100%;
}

.clip .dropdown .menu ul li {
  border-bottom: 1px solid black;
}

.clip .dropdown .menu ul li a {
  color: black;
  padding: 14px 44px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.clip .dropdown .menu ul li a:hover {
  color: white;
  background-color: #ee3131;
  text-decoration: none;
}

.clip .dropdown .menu {
  display: none;
}

.clip .dropdown:hover .menu {
  display: block;
}

.clip .navbottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clip .navbottom li {
  height: 100%;
}

.clip .navbottom li a {
  color: white;
  text-transform: uppercase;
  position: relative;
}

.clip .navbottom li a::before {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: white;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.clip .navbottom li a:hover {
  text-decoration: none;
}

.clip .navbottom li a:hover::before {
  left: 0;
  right: 0;
  width: 100%;
}

footer {
  margin-top: 200px;
  position: relative;
}

footer .footerTop {
  height: 100px;
  width: 1140px;
  position: absolute;
  z-index: 2;
  top: -10%;
}

footer .footerTop .footerTopFirst {
  width: 33.33%;
  height: 100%;
  background: #2f2f2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerTop .footerTopFirst h5 {
  margin: 0;
  color: white;
}

footer .footerTop .footerTopFirst p {
  color: white;
  margin: 0;
}

footer .footerTop .footerTopFirst i {
  font-size: 42px;
  color: white;
  margin-right: 10px;
}

footer .footerTop .footerTopSecond {
  width: 0;
  height: 0px;
  border-top: 51px solid transparent;
  border-bottom: 51px solid transparent;
  border-left: 57px solid #2f2f2f;
  position: absolute;
  top: 0;
  left: 33.33%;
  z-index: 2;
}

footer .footerTop .footerTopThird {
  width: 33.33%;
  height: 100%;
  background: #d20022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerTop .footerTopThird h5 {
  margin: 0;
  color: white;
}

footer .footerTop .footerTopThird p {
  color: white;
  margin: 0;
}

footer .footerTop .footerTopThird i {
  font-size: 42px;
  color: white;
  margin-right: 10px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

footer .footerTop .footerTopFourth {
  width: 0;
  height: 0px;
  border-top: 51px solid transparent;
  border-bottom: 51px solid transparent;
  border-left: 57px solid #d20022;
  position: absolute;
  top: 0;
  left: 66.66%;
  z-index: 2;
}

footer .footerTop .footerTopFivth {
  width: 33.33%;
  height: 100%;
  background: #ee3131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerTop .footerTopFivth h5 {
  margin: 0;
  color: white;
}

footer .footerTop .footerTopFivth p {
  color: white;
  margin: 0;
}

footer .footerTop .footerTopFivth i {
  font-size: 42px;
  color: white;
  margin-right: 10px;
}

footer .content {
  background: #06163a;
  background-image: url(../image/footer_img.png);
  height: 470px;
}

footer .footerRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding-top: 100px;
}

footer .firstcol p {
  color: white;
}

footer .firstcol .firstcolIcon {
  width: 70%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .firstcol .firstcolIcon div {
  height: 100%;
  width: 18.5%;
  border: 1px solid white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .firstcol .firstcolIcon div i {
  color: white;
}

footer .secondcol h3 {
  color: white;
}

footer .secondcol ul {
  line-height: 40px;
  margin-top: 25px;
}

footer .secondcol a {
  color: white;
}

footer .secondcol a:hover {
  text-decoration: none;
}

footer .thirdcol h3 {
  color: white;
}

footer .thirdcol ul {
  line-height: 40px;
  margin-top: 25px;
}

footer .thirdcol a {
  color: white;
}

footer .thirdcol a:hover {
  text-decoration: none;
}

footer .thirdcol p {
  color: #999;
}

footer .fourthcol h3 {
  color: white;
}

footer .fourthcol ul {
  line-height: 40px;
  margin-top: 25px;
}

footer .fourthcol ul li {
  border-bottom: dotted;
  border-color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .fourthcol span {
  color: white;
}

footer .fourthcol span:hover {
  text-decoration: none;
}

footer .footerBottom {
  background: #030e28;
}

footer .footerBottom .footerBottomRow {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerBottom .footerBottomRow p {
  margin: 0;
  color: white;
}

footer .footerBottom .footerBottomRow p .footerBottomSpan {
  margin-right: 15px;
}

#shop {
  padding: 70px 0px;
}

#shop .slider .img-holder {
  width: 100%;
  height: 500px;
}

#shop .slider .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#shop .slider .txt-hold.third {
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#shop .slider .txt-hold.third span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  margin-right: 20px;
}

#shop .slider .txt-hold {
  top: 30%;
  left: 10%;
}

#shop .slider .txt-hold h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  display: inline-block;
}

#shop .slider .txt-hold p {
  margin: 30px 0px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  max-width: 355px;
}

#shop .table {
  padding: 20px 0px;
}

#shop .table .info-holder {
  border: 1px solid #d20022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top: transparent;
  border-left: transparent;
  padding: 10px 0px;
}

#shop .table .info-holder img {
  width: 50%;
}

#shop .table .info-holder p {
  margin-top: 17px;
}

#shop .table .info-holder p a {
  color: black;
}

#shop .table .info-holder p a:hover {
  text-decoration: none;
  color: #d20022;
}

#oils {
  padding: 80px 0px;
}

#oils .categories {
  border: 1px solid #ee3131;
  text-align: center;
}

#oils .categories .seperator {
  border: 1px solid #ee3131;
  width: 80%;
  /* margin-left: auto; */
  margin: 0 auto;
}

#oils .categories a {
  color: #2f3967;
}

#oils .categories a:hover {
  text-decoration: none;
  color: #ee3131;
}

#oils .row.inner .col-lg-3 {
  margin: 3px 0px;
}

#oils .row.inner .pro-holder {
  border: 1px solid #ee3131;
  text-align: center;
  padding: 10px 0;
}

#oils .row.inner .pro-holder .layer {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 47, 47, 0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#oils .row.inner .pro-holder .layer a {
  margin: auto;
  outline: none;
}

#oils .row.inner .pro-holder .layer .add {
  display: none;
}

#oils .row.inner .pro-holder .layer .add i {
  display: inline-block;
  margin-right: 4px;
}

#oils .row.inner .pro-holder:hover .layer {
  background-color: #ee3131d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#oils .row.inner .pro-holder:hover .layer .add {
  display: block;
}

#oils .row.inner .pro-holder img {
  width: 100%;
}

#oils .row.inner .pro-holder .seperator1 {
  border: 1px solid #ee3131;
  width: 80%;
  margin: 0 auto;
}

#oils .row.inner .pro-holder a {
  color: #2f3967;
}

#oils .row.inner .pro-holder a:hover {
  color: #ee3131;
  text-decoration: none;
}

#oils .row.inner .pro-holder .icon-holder i {
  color: #e05c0b;
}

#oils .row.inner .pro-holder .sale {
  text-decoration: line-through;
}

#info {
  padding: 80px 0px;
}

#info .row {
  height: 700px;
}

#info .row .img-wrapper {
  height: 100%;
}

#info .row .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#info .row .second {
  padding: 142px 25px;
}

#info .row .second .icon-holder i {
  color: #e05c0b;
}

#info .row .second .sale {
  text-decoration: line-through;
}

#info .row .second .price {
  color: #e05c0b;
  font-size: 1.5em;
}

#info .row .second p {
  color: grey;
}

#info .row .second .number {
  border-radius: 15px;
  outline: none;
  padding: 10px 9px;
}

#info .row .second .my-btn {
  padding: 16px 2px;
  border-radius: 19px;
}

#contact .contact img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#contact .contact .layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 50px;
}

#contact .contact .layer .txt-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .contact .layer .txt-holder h2 {
  font-size: 60px;
  color: #fff;
  padding: 100px 0px;
  font-weight: 400;
}

#contact .contact .layer .txt-holder h2.color {
  font-weight: 700;
  color: #EE3233;
  margin-left: 8px;
}

#map {
  padding: 50px 0px;
}

#map .text-wrapper {
  background-color: #2f3967;
  height: 100%;
  padding: 50px 40px;
}

#map .text-wrapper span {
  font-weight: 400;
}

#map .text-wrapper p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  color: #fff;
}

#map .text-wrapper h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}

#map .text-wrapper h3 {
  font-size: 20px;
  color: white;
}

#mail {
  padding: 20px 0px;
}

#mail a.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#mail h3 {
  font-size: 36px;
  font-weight: 700;
  color: #423535;
  font-family: "Dosis", sans-serif;
}

#mail h3 span {
  font-weight: 400;
}

#mail .seperator {
  border: 1px solid #ee3131;
  width: 10%;
}

#mail .inner {
  padding: 40px 0px;
}

#mail .inner .select {
  width: 100%;
}

#mail .inner input {
  width: 100%;
  margin-bottom: 30px;
}

#mail .working-hours {
  border: 1px solid black;
  padding: 50px 30px;
}

#mail .working-hours h3 {
  text-align: center;
}

#mail .working-hours li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px;
}

#mail .social {
  border: 1px solid black;
  margin-top: 12px;
  padding: 28px 0px;
  background-color: #f1f1f1;
}

#mail .social h3 {
  font-size: 20px;
  text-align: center;
}

#mail .social .icon-holder ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#mail .social .icon-holder a {
  margin-right: 12px;
}

#mail .social .icon-holder a i {
  display: block;
  width: 40px;
  height: 40px;
  background: #101010;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
}

#mail .social .icon-holder a i.fa-facebook {
  background: #3b5998;
}

#mail .social .icon-holder a i.fa-twitter {
  background: #55acee;
}

#mail .social .icon-holder a i.fa-google-plus-g {
  background: #dd4b39;
}

#mail .social .icon-holder a i.fa-instagram {
  background: #b7242a;
}

#photo .photo-holder {
  width: 100%;
  height: 400px;
  background-image: url(../image/shop.jpg);
  background-position: 40% 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

#photo .photo-holder .layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

#photo .photo-holder .layer .text-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
}

#photo .photo-holder .layer .text-holder h1 {
  text-align: center;
  font-size: 6.5em;
  color: #2f3967;
  font-weight: 700;
  width: 100%;
}

#photo .photo-holder .layer .text-holder h1 span {
  color: #ee3131;
  font-weight: 400;
}

#carts .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#carts .productinfo {
  width: 200px;
}

#carts .img-wrapper {
  height: 200px;
  width: 200px;
}

#carts .image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#carts .table {
  width: 100%;
}

#carts .table tbody {
  text-align: center;
}

#carts .table thead {
  color: white;
  background-color: black;
  width: 100%;
  text-align: right;
  height: 200px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */